[package]
name = "flexi_logger"
version = "0.19.4"
authors = ["emabee <meinolf.block@sap.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/emabee/flexi_logger"
documentation = "https://docs.rs/flexi_logger"
homepage = "https://crates.io/crates/flexi_logger"
description = """
An easy-to-configure and flexible logger that writes logs to stderr or stdout and/or to files. \
It allows custom logline formats, and it allows changing the log specification at runtime. \
It also allows defining additional log streams, e.g. for alert or security messages.\
"""
keywords = ["file", "logger"]
categories = ["development-tools::debugging"]

[lib]
doctest = false

# docs.rs-specific configuration
[package.metadata.docs.rs]
# document all features
all-features = true
# define the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["colors", "textfilter"]
async = ["crossbeam"]
colors = ["atty", "lazy_static","ansi_term"]
specfile = ["specfile_without_notification","notify"]
specfile_without_notification = ["serde","toml","serde_derive"]
syslog_writer = ["libc", "hostname"]
compress = ["flate2"]
textfilter = ["regex"]
trc =["async", "specfile", "tracing-subscriber"]

[dependencies]
atty = {version = "0.2", optional = true}
ansi_term = {version = "0.12", optional = true}
chrono = "0.4"
crossbeam = {version = "0.8", optional = true}
flate2 = {version = "1.0", optional = true}
glob = "0.3"
hostname = {version = "0.3", optional = true}
lazy_static = {version = "1.4", optional = true}
log = { version = "0.4", features = ["std"] }
notify = { version = "4.0", optional = true }
regex = { version = "1.1", optional = true }
rustversion = "1.0"
serde = { version = "1.0", optional = true }
serde_derive = {version = "1.0", optional = true}
thiserror = "1.0"
toml = { version = "0.5", optional = true }
tracing-subscriber = {version = "0.2", optional = true }

# tracing = {version = "0.1", optional = true }

[target.'cfg(linux)'.dependencies]
libc = {version = "^0.2.50", optional = true}

[dev-dependencies]
serde_derive = "1.0"
version-sync = "0.9"
#env_logger = '*' # optionally needed for the performance example
